*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: #99CCFF;
}

header{
    padding: 1em 2em 0;
    /* text-align: center; */
    max-width: 600px;
    margin: auto;
}

header.sm{
    max-width: 400px;
}

header h1{
    text-align: center;
}



#booklist{
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    justify-content: center;
    max-width: 1000px;
}

#booklist.sm .bookEntry{

    /* display: flex; */
    width: 100%;
    margin: 0.5em 2em 0;
    border-bottom: 1px solid grey;
    /* padding: 1em 2em; */
}

#booklist.sm .imgLink{
    padding: 0 2em 1em ;
}


#booklist.md .bookEntry{
    /* display: flex; */
    width: calc(50% - 4em);
    padding: 0 2em;
}

.bookEntry{
    display: flex;
    width: calc(33% - 3em);
    flex-direction: column;
    margin: 1.5em;
    padding: 1.5em;
}

#booklist.mobile .bookImg{
    /* width: 100px; */
}

.bookImg{
    /* max-height: 150px; */
    width: 100%;
    margin: auto;

    box-shadow: 0 10px 25px -10px grey;
}

a.imgLink{
    /* max-height: 300px; */
    /* object-fit: cover; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* padding-bottom: 2em; */
    width: 100%;
    margin-bottom: 1em;
    color: #000000;
    text-decoration: none;
}

a.preloader{
    background-image: url(./img/preloader.gif);
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 50px;
    display: block;
}


.showCopy {
    padding: 0.5em;
}

.btn-group{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn{
    color: #000;
    padding: 0.5em 1em;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 10px 25px -10px grey;

}


/* #booklist.mobile .bookEntry{
    width: 80%;
} */

.d-none{
    display: none;
}