body{
    background-color: #99CCFF;
}

#booklist{
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    justify-content: center;
    max-width: 1000px;
}

.bookImg{
    width: 160px;
    box-shadow: 0 10px 5px -5px grey;
    margin: 2em 0;
}

a.preloader{
    background-image: url(./img/preloader.gif);
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;

}

.bookEntry{
    display: flex;
    align-items: center;
    width: 50%;
}

.showInfo{
    padding: 2em 2em 2em 1em ;

}


#booklist.mobile .bookEntry{
    width: 80%;
}

.d-none{
    display: none;
}